<div class="container my-5">
  <h1 class="text-center mb-5">Inventarios de Puentes</h1>

  <div class="row mb-3 justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar por ID Puente"
               aria-label="Buscar por ID Puente" aria-describedby="basic-addon2">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-start mb-3">
      <button class="btn btn-outline-warning" *ngIf="isPrivilegedUser$ | async" (click)="navigateToCreateInventory()">
        Crear nuevo inventario
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="text-center"><strong>No.</strong></th>
          <th class="text-center"><strong>ID</strong></th>
          <th class="text-center"><strong>ID Puente</strong></th>
          <th class="text-center"><strong>ID Usuario</strong></th>
          <th class="text-center"><strong>Observaciones</strong></th>
          <th class="text-center"><strong>Acciones</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventories; let i = index" style="cursor: pointer;" (click)="navigateToInspections(inventory.puenteId.toString())">
          <th class="text-center" scope="row">{{ i + 1 }}</th>
          <td class="text-center">{{ inventory.id }}</td>
          <td class="text-center">{{ inventory.puenteId }}</td>
          <td class="text-center">{{ inventory.usuarioId }}</td>
          <td class="text-center">{{ inventory.observaciones }}</td>
          <td class="text-center">
            <i class="fas fa-eye text-info me-2" (click)="navigateToViewInventory(inventory.puenteId.toString(), $event)"></i>
            <i class="fas fa-edit text-warning me-2" *ngIf="isPrivilegedUser$ | async" (click)="navigateToEditInventory(inventory.puenteId.toString(), $event)"></i>
            <i class="fas fa-trash text-danger" *ngIf="isPrivilegedUser$ | async" (click)="deleteInventory(inventory.puenteId.toString(), $event)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
