<div class="container mt-5">
  <div class="card">
    <div class="text-center mt-5">
      <img src="assets/images/bridgecare_logo.png" alt="Logo" width="100" class="rounded-circle">
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            formControlName="correo"
            placeholder="Correo Electrónico"
          />
          <div *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('correo')?.errors?.['required']">Correo electrónico es requerido.</small>
            <small *ngIf="loginForm.get('correo')?.errors?.['correo']">Correo electrónico no es válido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="contrasenia"
            formControlName="contrasenia"
            placeholder="contraseña"
          />
          <div *ngIf="loginForm.get('contrasenia')?.invalid && loginForm.get('contrasenia')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('contrasenia')?.errors?.['required']">Contraseña es requerida.</small>
            <small *ngIf="loginForm.get('contrasenia')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
          </div>
        </div>
        <div class="text-center mt-5 mb-5">
          <button class="btn btn-warning" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
