.homepage-background {
    background-color: rgb(17, 29,44);
    width: 100%; 
    height: 100vh; /* Cambia esto según el tamaño que necesites */
    color: white;
    display: flex;
    flex-direction: column;
  }
  