<div class="container mt-5">
  <h1>Formato de inventario de Puentes</h1>

  <div class="alert alert-info text-center mb-4">
    <ng-container *ngIf="isViewMode">Estás viendo el inventario (modo solo lectura).</ng-container>
    <ng-container *ngIf="isEditMode">Estás editando un inventario existente.</ng-container>
    <ng-container *ngIf="!isEditMode && !isViewMode">Estás creando un nuevo inventario.</ng-container>
  </div>

  <form [formGroup]="form">
    <div class="card my-3">
      <div class="card-header">
        INFORMACIÓN GENERAL DEL PUENTE
      </div>
      <div class="card-body">
        <div class="row g-3">
          <!-- Nombre -->
          <div class="col-md-4">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"
                   [readonly]="isViewMode" [class.is-invalid]="campoInvalido('nombre')">
            <div *ngIf="campoInvalido('nombre')" class="text-danger">
              Por favor completa el nombre.
            </div>
          </div>
    
          <!-- Identificador -->
          <div class="col-md-4">
            <label>Identificador</label>
            <input type="text" class="form-control" formControlName="identificador" placeholder="Identificador"
                   [readonly]="isViewMode" [class.is-invalid]="campoInvalido('identificador')">
            <div *ngIf="campoInvalido('identificador')" class="text-danger">
              Por favor completa el identificador.
            </div>
          </div>
    
          <!-- Carretera -->
          <div class="col-md-4">
            <label>Carretera</label>
            <input type="text" class="form-control" formControlName="carretera" placeholder="Carretera"
                   maxlength="10" [readonly]="isViewMode">
          </div>
        </div>
    
        <div class="row g-3 mt-2">
          <!-- PR -->
          <div class="col-md-4">
            <label>PR</label>
            <input type="text" class="form-control" formControlName="pr" placeholder="PR"
                   [readonly]="isViewMode">
          </div>
    
          <!-- Regional -->
          <div class="col-md-4">
            <label>Regional</label>
            <select class="form-control" formControlName="regional" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of regionalOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sección de Datos Pasos -->
    <div class="card my-3">
      <div class="card-header">PASOS</div>
      <div class="card-body">
        <!-- Paso 1 -->
        <div class="row g-3">
          <div class="col-md-1">
            <label>No. Paso</label>
            <input type="text" class="form-control-plaintext" value="1" readonly>
          </div>
    
          <div class="col">
            <label>Tipo de Paso</label>
            <select class="form-control" formControlName="tipoPaso1" [disabled]="isViewMode">
              <option value="">Seleccione</option>
              <option value="S">S</option>
              <option value="I">I</option>
            </select>
          </div>
    
          <div class="col-md-1">
            <label>Primero</label>
            <select class="form-control" formControlName="primero1" [disabled]="isViewMode">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
    
          <div class="col-md-1">
            <label>Sup/Inf</label>
            <select class="form-control" formControlName="supInf1" [disabled]="isViewMode">
              <option value="S">S</option>
              <option value="I">I</option>
            </select>
          </div>
    
          <div class="col">
            <label>Galibo I (m)</label>
            <input type="number" class="form-control" formControlName="galiboI1" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo IM (m)</label>
            <input type="number" class="form-control" formControlName="galiboIm1" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo DM (m)</label>
            <input type="number" class="form-control" formControlName="galiboDm1" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo D (m)</label>
            <input type="number" class="form-control" formControlName="galiboD1" [readonly]="isViewMode">
          </div>
        </div>
    
        <!-- Paso 2 -->
        <div class="row g-3 mt-3">
          <div class="col-md-1">
            <label>No. Paso</label>
            <input type="text" class="form-control-plaintext" value="2" readonly>
          </div>
    
          <div class="col">
            <label>Tipo de Paso</label>
            <select class="form-control" formControlName="tipoPaso2" [disabled]="isViewMode">
              <option value="">Seleccione</option>
              <option value="S">S</option>
              <option value="I">I</option>
            </select>
          </div>
    
          <div class="col-md-1">
            <label>Primero</label>
            <select class="form-control" formControlName="primero2" [disabled]="isViewMode">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
    
          <div class="col-md-1">
            <label>Sup/Inf</label>
            <select class="form-control" formControlName="supInf2" [disabled]="isViewMode">
              <option value="S">S</option>
              <option value="I">I</option>
            </select>
          </div>
    
          <div class="col">
            <label>Galibo I (m)</label>
            <input type="number" class="form-control" formControlName="galiboI2" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo IM (m)</label>
            <input type="number" class="form-control" formControlName="galiboIm2" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo DM (m)</label>
            <input type="number" class="form-control" formControlName="galiboDm2" [readonly]="isViewMode">
          </div>
    
          <div class="col">
            <label>Galibo D (m)</label>
            <input type="number" class="form-control" formControlName="galiboD2" [readonly]="isViewMode">
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Datos Administrativos -->
    <div class="card my-3">
      <div class="card-header">
        DATOS ADMINISTRATIVOS
      </div>
      <div class="card-body">
        <div class="row g-3">
          <!-- Año de Construcción -->
          <div class="col-md-4">
            <label>Año de Construcción</label>
            <input type="number" class="form-control" formControlName="anioConstruccion" placeholder="Ej. 1998"
                   [readonly]="isViewMode" [class.is-invalid]="campoInvalido('anioConstruccion')">
            <div *ngIf="campoInvalido('anioConstruccion')" class="text-danger">
              Este campo es obligatorio.
            </div>
          </div>
    
          <!-- Año de Reconstrucción -->
          <div class="col-md-4">
            <label>Año de Reconstrucción</label>
            <input type="number" class="form-control" formControlName="anioReconstruccion" placeholder="Ej. 2015"
                   [readonly]="isViewMode">
          </div>
    
          <!-- Dirección Abscisa Carretera -->
          <div class="col-md-4">
            <label>Dirección Abscisa Carretera</label>
            <select class="form-control" formControlName="direccionAbscCarretera" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of direccionOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
    
        <div class="row g-3 mt-2">
          <!-- Requisitos de Inspección -->
          <div class="col-md-6">
            <label>Requisitos de Inspección</label>
            <input type="text" class="form-control" formControlName="requisitosInspeccion" placeholder="Requisitos"
                   [readonly]="isViewMode">
          </div>
    
          <!-- Número de Secciones Inspección -->
          <div class="col-md-6">
            <label>Número de Secciones Inspección</label>
            <input type="text" class="form-control" formControlName="numeroSeccionesInspeccion" placeholder="Ej. 2"
                   [readonly]="isViewMode">
          </div>
        </div>
    
        <div class="row g-3 mt-2">
          <!-- Estación de Conteo -->
          <div class="col-md-6">
            <label>Estación de Conteo</label>
            <input type="text" class="form-control" formControlName="estacionConteo" placeholder="Código estación"
                   [readonly]="isViewMode">
          </div>
    
          <!-- Fecha de Recolección de Datos -->
          <div class="col-md-6">
            <label>Fecha de Recolección de Datos</label>
            <input type="date" class="form-control" formControlName="fechaRecoleccionDatos"
                   [readonly]="isViewMode">
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Datos Técnicos, Geometría -->
    <div class="card my-3">
      <div class="card-header">
        DATOS TÉCNICOS, GEOMETRÍA
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Número de luces</label>
            <input type="number" class="form-control" formControlName="numeroLuces" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud Luz menor (m)</label>
            <input type="number" class="form-control" formControlName="longitudLuzMenor" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud Luz mayor (m)</label>
            <input type="number" class="form-control" formControlName="longitudLuzMayor" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud total (m)</label>
            <input type="number" class="form-control" formControlName="longitudTotal" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho del tablero (m)</label>
            <input type="number" class="form-control" formControlName="anchoTablero" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho del separador (m)</label>
            <input type="number" class="form-control" formControlName="anchoSeparador" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho del andén izquierdo (m)</label>
            <input type="number" class="form-control" formControlName="anchoAndenIzq" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho del andén derecho (m)</label>
            <input type="number" class="form-control" formControlName="anchoAndenDer" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho de calzada (m)</label>
            <input type="number" class="form-control" formControlName="anchoCalzada" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho entre bordillos (m)</label>
            <input type="number" class="form-control" formControlName="anchoEntreBordillos" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Ancho del acceso (m)</label>
            <input type="number" class="form-control" formControlName="anchoAcceso" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Altura de pilas (m)</label>
            <input type="number" class="form-control" formControlName="alturaPilas" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Altura de estribos (m)</label>
            <input type="number" class="form-control" formControlName="alturaEstribos" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud de apoyo en pilas (m)</label>
            <input type="number" class="form-control" formControlName="longitudApoyoPilas" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud de apoyo en estribos (m)</label>
            <input type="number" class="form-control" formControlName="longitudApoyoEstribos" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Puente en terraplén</label>
            <select class="form-control" formControlName="puenteTerraplen" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Puente en curva / Tangente (C/T)</label>
            <select class="form-control" formControlName="puenteCurvaTangente" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option value="C">Curva</option>
              <option value="T">Tangente</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Esviajamiento (°)</label>
            <input type="number" class="form-control" formControlName="esviajamiento" [readonly]="isViewMode">
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Superestructura, Tipo Principal -->
    <div class="card my-3">
      <div class="card-header">
        SUPERESTRUCTURA, TIPO PRINCIPAL
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Diseño Tipo -->
          <div class="col-md-4 mb-3">
            <label>Diseño tipo (Sí/No)</label>
            <select class="form-control" formControlName="disenioTipo">
              <option value="">Selecciona una opción</option>
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
    
          <!-- Tipo Estructuración Transversal -->
          <div class="col-md-4 mb-3">
            <label>Tipo de estructuración transversal</label>
            <select class="form-control" formControlName="tipoEstructuracionTransversal">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of transversalStructuringOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
    
          <!-- Tipo Estructuración Longitudinal -->
          <div class="col-md-4 mb-3">
            <label>Tipo de estructuración longitudinal</label>
            <select class="form-control" formControlName="tipoEstructuracionLongitudinal">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of longitudinalStructuringOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
        </div>
    
        <!-- Material + Imagen -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Material</label>
            <select class="form-control" formControlName="material">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of materialConstructionOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
    
          <div class="col-md-8 mb-3">
            <label for="imagen-superestructura" class="form-label">Imagen</label>
            <input *ngIf="!isViewMode" type="file" id="imagen-superestructura" class="form-control"
                   (change)="onFileChange($event, 'superstructureImage')" #superstructureImageInput>
            <input type="hidden" formControlName="superstructureImageUrl">
            <div *ngIf="form.get('superstructureImageUrl')?.value">
              <a href="{{ form.get('superstructureImageUrl')?.value }}" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Superestructura, Tipo Secundario -->
    <div class="card my-3">
      <div class="card-header">
        SUPERESTRUCTURA, TIPO SECUNDARIO
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Diseño tipo (S/N)</label>
            <select class="form-control" formControlName="disenoTipoSec" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of snOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de estructuración transversal</label>
            <select class="form-control" formControlName="tipoEstructuracionTransversalSec" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of transversalStructuringOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de estructuración longitudinal</label>
            <select class="form-control" formControlName="tipoEstructuracionLongitudinalSec" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of longitudinalStructuringOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Material</label>
            <select class="form-control" formControlName="materialSec" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of materialConstructionOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-8 mb-3">
            <label for="imagen-sec" class="form-label">Imagen</label>
            <input *ngIf="!isViewMode" type="file" id="imagen-sec" class="form-control"
                  (change)="onFileChange($event, 'superstructureSecondaryImage')" #superstructureSecondaryImageInput>
            <input type="hidden" formControlName="superstructureSecondaryImageUrl">
            <div *ngIf="form.get('superstructureSecondaryImageUrl')?.value">
              <a [href]="form.get('superstructureSecondaryImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Sección de Subestructura, Estribos -->
    <!-- SUBESTRUCTURA - ESTRIBOS -->
    <div class="card my-3">
      <div class="card-header">SUBESTRUCTURA, ESTRIBOS</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Tipo</label>
            <input type="number" class="form-control" formControlName="tipoEstribos">
          </div>
          <div class="col-md-4 mb-3">
            <label>Material</label>
            <select class="form-control" formControlName="materialEstribos">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of stirrupsMaterialOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Tipo de Cimentación</label>
            <select class="form-control" formControlName="tipoCimentacion">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of stirrupsFoundationTypeOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Imagen</label>
            <input *ngIf="!isViewMode" type="file" class="form-control" (change)="onFileChange($event, 'substructureAbutmentsImage')">
            <input type="hidden" formControlName="substructureAbutmentsImageUrl">
            <div *ngIf="form.get('substructureAbutmentsImageUrl')?.value">
              <a [href]="form.get('substructureAbutmentsImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SUBESTRUCTURA - DETALLES -->
    <div class="card my-3">
      <div class="card-header">SUBESTRUCTURA, DETALLES</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Tipo de baranda</label>
            <select class="form-control" formControlName="tipoBaranda">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of railingTypeOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Superficie de rodadura</label>
            <select class="form-control" formControlName="superficieRodadura">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of roadwaySurfaceOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Junta de expansión</label>
            <select class="form-control" formControlName="juntaExpansion">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of expansionJointOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Imagen</label>
            <input *ngIf="!isViewMode" type="file" class="form-control" (change)="onFileChange($event, 'substructureDetailsImage')">
            <input type="hidden" formControlName="substructureDetailsImageUrl">
            <div *ngIf="form.get('substructureDetailsImageUrl')?.value">
              <a [href]="form.get('substructureDetailsImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SUBESTRUCTURA - PILAS -->
    <div class="card my-3">
      <div class="card-header">SUBESTRUCTURA, PILAS</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Tipo</label>
            <select class="form-control" formControlName="tipoPilas">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of pileTypeOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Material</label>
            <select class="form-control" formControlName="materialPilas">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of pileMaterialOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label>Tipo de cimentación</label>
            <select class="form-control" formControlName="tipoCimentacionPilas">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of foundationTypeOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Imagen</label>
            <input *ngIf="!isViewMode" type="file" class="form-control" (change)="onFileChange($event, 'substructurePilesImage')">
            <input type="hidden" formControlName="substructurePilesImageUrl">
            <div *ngIf="form.get('substructurePilesImageUrl')?.value">
              <a [href]="form.get('substructurePilesImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SUBESTRUCTURA - SEÑALES -->
    <div class="card my-3">
      <div class="card-header">SUBESTRUCTURA, SEÑALES</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label>Carga máxima</label>
            <input type="text" class="form-control" formControlName="cargaMaxima">
          </div>
          <div class="col-md-4 mb-3">
            <label>Velocidad máxima</label>
            <input type="text" class="form-control" formControlName="velocidadMaxima">
          </div>
          <div class="col-md-4 mb-3">
            <label>Otra</label>
            <input type="text" class="form-control" formControlName="otraInfo">
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Imagen</label>
            <input *ngIf="!isViewMode" type="file" class="form-control" (change)="onFileChange($event, 'substructureSignalsImage')">
            <input type="hidden" formControlName="substructureSignalsImageUrl">
            <div *ngIf="form.get('substructureSignalsImageUrl')?.value">
              <a [href]="form.get('substructureSignalsImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Sección de Apoyos -->
    <div class="card my-3">
      <div class="card-header">
        APOYOS
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos fijos sobre estribos</label>
            <select class="form-control" formControlName="fijoSobreEstribo">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos móviles sobre estribos</label>
            <select class="form-control" formControlName="movilSobreEstribo">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos fijos en pilas</label>
            <select class="form-control" formControlName="fijoEnPila">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos móviles en pilas</label>
            <select class="form-control" formControlName="movilEnPila">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos fijos en vigas</label>
            <select class="form-control" formControlName="fijoEnViga">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Tipo de apoyos móviles en vigas</label>
            <select class="form-control" formControlName="movilEnViga">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of fixedSupportTypes" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Vehículo de diseño</label>
            <input type="number" class="form-control" placeholder="Vehículo de diseño" formControlName="vehiculoDiseno" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Clase de distribución de carga</label>
            <select class="form-control" formControlName="claseDistribucionCarga">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of loadDistributionClasses" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-12 mb-3">
            <label class="form-label">Imagen</label>
            <input *ngIf="!isViewMode" type="file" class="form-control" (change)="onFileChange($event, 'supportsImage')" #supportsImageInput>
            <input type="hidden" formControlName="supportsImageUrl">
            <div *ngIf="form.get('supportsImageUrl')?.value">
              <a [href]="form.get('supportsImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Miembros Interesados -->
    <div class="card my-3">
      <div class="card-header">
        MIEMBROS INTERESADOS
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="propietario" class="form-label">Propietario</label>
            <input type="text" [readonly]="isViewMode" id="propietario" class="form-control" placeholder="Propietario"
                  formControlName="propietario">
          </div>
          <div class="col-md-4 mb-3">
            <label for="departamento" class="form-label">Departamento</label>
            <input type="text" [readonly]="isViewMode" id="departamento" class="form-control" placeholder="Departamento"
                  formControlName="departamento">
          </div>
          <div class="col-md-4 mb-3">
            <label for="administrador-vial" class="form-label">Administrador Vial</label>
            <input type="text" [readonly]="isViewMode" id="administrador-vial" class="form-control" placeholder="Administrador Vial"
                  formControlName="administradorVial">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="proyectista" class="form-label">Proyectista</label>
            <input type="text" [readonly]="isViewMode" id="proyectista" class="form-control" placeholder="Proyectista"
                  formControlName="proyectista">
          </div>
          <div class="col-md-4 mb-3">
            <label for="municipio" class="form-label">Municipio</label>
            <input type="text" [readonly]="isViewMode" id="municipio" class="form-control" placeholder="Municipio"
                  formControlName="municipio">
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>


    <!-- Sección de Posición Geográfica -->
    <div class="card my-3">
      <div class="card-header">
        POSICIÓN GEOGRÁFICA
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Latitud (N)</label>
            <input type="number" class="form-control" formControlName="latitud" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud (O)</label>
            <input type="number" class="form-control" formControlName="longitud" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Altitud (m)</label>
            <input type="number" class="form-control" formControlName="altitud" [readonly]="isViewMode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Coeficiente Aceleración Sísmica (Aa)</label>
            <input type="text" class="form-control" formControlName="coeficienteAceleracionSismica" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Paso por Cauce</label>
            <select class="form-control" formControlName="pasoCauce" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Existe Variante</label>
            <select class="form-control" formControlName="existeVariante" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label">Longitud Variante</label>
            <input type="number" class="form-control" formControlName="longitudVariante" [readonly]="isViewMode">
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Estado</label>
            <select class="form-control" formControlName="estado" [disabled]="isViewMode">
              <option value="">Selecciona una opción</option>
              <option value="B">Bueno</option>
              <option value="R">Regular</option>
              <option value="M">Malo</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Sección de Carga -->
    <div class="card my-3">
      <div class="card-header">
        CARGA
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Longitud Luz Crítica -->
          <div class="col-md-4 mb-3">
            <label class="form-label">Long. Luz crítica (m)</label>
            <select class="form-control" formControlName="longitudLuzCritica">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of criticalSpanLengthOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
    
          <!-- Factor Clasificación -->
          <div class="col-md-4 mb-3">
            <label class="form-label">Factor de clasificación</label>
            <select class="form-control" formControlName="factorClasificacion">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of classificationFactorOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
    
          <!-- Línea de carga por rueda -->
          <div class="col-md-4 mb-3">
            <label class="form-label">Línea de carga por rueda (t)</label>
            <select class="form-control" formControlName="lineaCargaPorRueda">
              <option value="">Selecciona una opción</option>
              <option *ngFor="let option of linealOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <!-- Fuerza cortante -->
          <div class="col-md-6 mb-3">
            <label for="fuerza-cortante" class="form-label">Fuerza cortante (t)</label>
            <input type="text" [readonly]="isViewMode" id="fuerza-cortante"
                   class="form-control" formControlName="fuerzaCortante" placeholder="Fuerza cortante">
          </div>
    
          <!-- Momento -->
          <div class="col-md-6 mb-3">
            <label for="momento" class="form-label">Momento (t·m)</label>
            <input type="text" [readonly]="isViewMode" id="momento"
                   class="form-control" formControlName="momento" placeholder="Momento">
          </div>
        </div>
      </div>
    </div>

    <!-- Sección de Observaciones -->
    <div class="card my-3">
      <div class="card-header">
        OBSERVACIONES
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Campo de texto para observaciones -->
          <div class="col-md-12">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea id="observaciones"
                      [readonly]="isViewMode"
                      class="form-control"
                      placeholder="Observaciones"
                      rows="4"
                      formControlName="observaciones"></textarea>
          </div>

          <!-- Imagen asociada a observaciones -->
          <div class="col-md-12 mb-3">
            <label for="imagen-carga" class="form-label">Imagen</label>
            <input *ngIf="!isViewMode"
                  type="file"
                  id="imagen-carga"
                  class="form-control"
                  (change)="onFileChange($event, 'observationsImage')"
                  #observationsImageInput>
            <input type="hidden" formControlName="observationsImageUrl">

            <div *ngIf="form.get('observationsImageUrl')?.value">
              <a [href]="form.get('observationsImageUrl')?.value" target="_blank">Imagen Subida</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón Subir -->
    <div class="row">
      <div class="col-12">
        <button type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="form.invalid">
          {{ isEditMode ? 'Modificar Formulario' : 'Crear Formulario' }}
        </button>

        <div *ngIf="form.invalid && formSubmitted" class="alert alert-danger mt-2">
          Por favor llene todos los campos requeridos antes de guardar.
        </div>
      </div>
    </div>

  </form>
</div>
